<div class="page-padding">
    <div class="row">
        <div class="col-5 col-md-12 col-lg-12 stretch-md-left stretch-lg-left ml-xl-0" style="background: red">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus perferendis dignissimos fugiat quis, neque omnis asperiores voluptate adipisci quidem doloremque, magni ad, commodi itaque a saepe perspiciatis at harum amet.</div>

        <div class="col-5 col-md-12 col-lg-12 stretch-lg-right" style="background: blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus perferendis dignissimos fugiat quis, neque omnis asperiores voluptate adipisci quidem doloremque, magni ad, commodi itaque a saepe perspiciatis at harum amet.</div>
    </div>
</div>
