// Global Colors
$black: #303030;
$white: #ffffff;
$text-color: $black;
$body-color: $white;

$colors: (
    "white": $white,
    "black": $black,
);

// Grid configurations.
$enable-grid-classes: true;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);

$container-max-widths: (
    sm: 1320px,
);

$grid-columns: 12;
$grid-row-columns: $grid-columns;
$grid-gutter-width: 40px;

// Display configurations.
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex,
    inline-flex;

// Overflow configurations
$overflows: auto, hidden !default;

// Position configurations
$positions: static, relative, absolute, fixed, sticky;

// Spacing configuration.
$spacers: (
    0: 0,
    2: 8px,
    3: 12px,
    4: 16px,
    5: 20px,
    6: 24px,
    10: 40px,
    12: 48px,
    20: 80px,
    25: 100px,
);

// Sizes configurations.
$sizes: (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto,
);

// Z-index master list
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

$font-size-0: 8.5rem;
$font-size-1: 2.72rem;
$font-size-2: 1.63rem;
$font-size-3: 1.36rem;
$font-size-4: 1.15rem;
$font-size-5: 0.82rem;
$font-size-6: 0.72rem;

$font-sizes: (
    0: $font-size-0,
    1: $font-size-1,
    2: $font-size-2,
    3: $font-size-3,
    4: $font-size-4,
    5: $font-size-5,
);
